@model List<Owner>

<h1>Owner List</h1>

<table class="table">
    <thead>
        <tr>
            <th>CardId</th>
            <th>FullName</th>
            <th>DateBirth</th>
            <th>PhoneNumber</th>
            <th>PostalCode</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var owner in Model)
        {
        <tr>
                <td>@owner.CardId</td>
                <td>@owner.FullName</td>
                <td>@owner.DateBirth</td>
                <td>@owner.PhoneNumber</td>
                <td>@owner.PostalCode</td>
                <td>@owner.Email</td>
                <div class="btn-group" role="group">
                <td><a asp-controller="Owner" asp-action="Edit" asp-route-id="@owner.Id" class="btn btn-primary mr-3">Edit</a></td>
                <td><a onclick="confirmDelete('@Url.Action("Delete","Owner",new{id = owner.Id})')" class="btn btn-primary">Delete</a></td>
                </div>
        </tr>
        }
    </tbody>
</table>
