@using CarDealerApp.Data;
@model List<Car> 


<div class="col-3 w-100">
  
    <h1>Car List</h1>
    <a asp-controller="Car" asp-action="Create"  class=" btn btn-primary m-3">New Car</a>
    <div >
        <form method="get" asp-controller="Car" asp-action="Search">
            <input type="text" name="plate" placeholder="Enter Licence Plate" />
            <button type="submit">Search</button>
        </form>
        
    </div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>Licence Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
         @foreach(var car in Model)
            {
        <tr>     
            <td>@car.LicencePlate</td>
            <td>@car.Brand</td>
            <td>@car.Model</td>
            <td>@car.Color</td>
            <td>@car.DateTime.Year</td>
            @if (!string.IsNullOrEmpty(car.Owner))
            {
                <td>@car.Owner</td>
            }else{
                <td>No Owner</td>
            }
            <div class="btn-group" role="group">

                <td><a asp-controller="Car" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn-primary">Edit</a></td>

                <td><a onclick="confirmDelete('@Url.Action("Delete", "Car", new {id = car.CarId})')" class="btn btn-primary">Delete</a></td>
            </div>
                
        </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script src="/js/Confirm.js"></script>
}





