@model List<Car>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Car-Dealer </h1>
    <p>Manage all you cars in one place.</p>

    <div class="container my-5">
    <!-- Cards -->
      <div class="row">
    @foreach(var car in Model)
    {               
      <!-- Ficha 1 -->
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="row g-0">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="img-container" style="width: 100%; aspect-ratio: 16/9; overflow: hidden;">
                    <img src="@car.ImgUrl" class="img-fluid rounded-start" style="height: 100%; width:100%; object-fit: cover;" alt="Imagen del vehículo">
                </div>
            </div>
            <div class="col-md-12">
              <div class="card-body">
                <p class="card-text"><strong>Brand:</strong> @car.Brand</p>
                <p class="card-text"><strong>Model:</strong> @car.Model</p>
                <p class="card-text"><strong>Year</strong> @car.DateTime.Year</p>
                <p class="card-text"><strong>Color:</strong>@car.Color</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    </div>
    </div>
</div>
